<template name="game">
	<br />
	{{#if game_is_ready}}
		{{> gameAction}}
	{{else}}
		{{> gameWaiting}}
	{{/if}}
</template>

<template name="gameAction">
	<div id="questionArea">
		<br />
		{{get_current_question_text}}
		<br />
		<br />
		<br />
	</div>
	<div id="" style="width:100%">
		<div style="width:33%; float:left">
			<span class="username">{{logged_in_username}}</span> <br />
			<div class="scoreArea">
			   {{logged_in_score}}	
			</div>
			<div id="inputArea">
				<input id="answer" type="text" name="answer" />
			</div>
			<input type="button" class="flat_btn" id="submit" value="submit" />
			<br />
			<br />
			<br />
		</div>
		<div style="width:33%; float:left">
			<span class="username">&nbsp;</span> <br />
			{{#each submitted_answers}}
				{{this}} <br />
			{{/each}}
			&nbsp;
		</div>
		<div style="width:33%; float:left">
			<span class="username">{{other_username}}</span>
			<div class="scoreArea">
			   {{other_score}}	
			</div>
		</div>
		<div style="clear:both" />
    </div>
</template>

<template name="gameWaiting">
	Waiting on another player...
</template>
