<template name="game">
	This is the game template for {{logged_in_username}}
	<br />
	{{#each users}}
	  {{username}}
	{{/each}}
	<br />
	{{#if game_is_ready}}
		{{> gameAction}}
	{{else}}
		{{> gameWaiting}}
	{{/if}}
</template>

<template name="gameAction">
	<div id="questionArea">
		<br />
		{{get_current_question_text}}
		<br />
		<br />
	</div>
	<div id="" style="width:100%">
		<div style="border:1px solid black; width:33%; float:left">
			{{logged_in_username}} <br />
			<div id="scoreArea">
				43
			</div>
			<div id="inputArea">
				<input id="answer" type="text" name="answer" />
			</div>
			<input type="button" id="submit" value="submit" />
			<br />
			<br />
			<br />
		</div>
		<div style="width:33%; float:left">
			{{#each submitted_answers}}
				{{this}} <br />
			{{/each}}
		</div>
		<div style="width:33%; float:left">{{other_username}}</div>
		<div style="clear:both" />
    </div>
</template>

<template name="gameWaiting">
	Waiting on another player...
</template>
