<template name="home">
  <br />
  <div> </div>
  {{#if has_username}}
	  {{>greeting}}
  {{else}}
	  {{>enter_username}}
  {{/if}}
  <br />
</template>

<template name="enter_username">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="question-area">
				Enter A Nickname<br />
				<input type="text" id="username" name="username" /> <br />
				<input type="button" class="btn btn-start" id="select_username" value="Start"/>
			</div>
		</div>
	</div>
</template>

<template name="greeting">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="question-area">
			    Welcome back {{get_username}}
				<br />
				<input type="button" class="btn btn-start" id="play" value="Play Again"/>
			</div>
		</div>
	</div>
</template>
