/* CSS declarations go here */
body {
	font-family: arial;
	font-family:'Josefin Sans', sans-serif;
	color: #eeeeee;
	/*background-color: #33373B;*/
	background-color: black;
	margin: 0;
}

#wrap {
	text-align:center;
	font-size:24px;
	width: 1000px;
	margin:auto;
	padding-top:20px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 1000px;
	background-color: #333333;

}

#game_title {
	font-size: 56px;
	padding: 10px;
	background-color: #E57E10;
	width: 300px;
	margin: auto;
}

.flat_btn {
	padding: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 15px;
	color: #eeeeee;
	background-color: #1BA1E2;
	border: none;
	font-family:'Josefin Sans', sans-serif;
	font-size:40px;
	cursor: pointer;
}
.flat_btn:hover {
	padding: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 15px;
	color: #fff;
	background-color: #1BA1E2;
	border: none;
	font-family:'Josefin Sans', sans-serif;
	font-size:40px;
	font-weight:bold;
	cursor: pointer;
}

input#username {
	font-family:'Josefin Sans', sans-serif;
	background-color: black;
	color: #eeeeee;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	font-size:36px;
	text-align:center;
}

input#answer {
	font-family:'Josefin Sans', sans-serif;
	background-color: #ffffff;
	border: none;
	color: #000000;
	border: none;
	font-size:20px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	text-align: center;

}

.scoreArea {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: auto;
	background-color: black;
	font-size: 86px;
}

#answer {
	width: 200px;
}

.username {
	font-size:40px;
}

